


<div class="container">

    <a href="">Atras</a>

    <h2>Armar Pedido</h2>

    <div class="row justify-content-around">
        <div class="col-sm-8">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-sm-4">
            <a href="">Add+</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <input type="search" name="inputIrBuscar" id="inputIrBuscar">
        </div>
        <div class="col-sm-5 text-center">
            <p>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Ordenar por</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

            </p>
        </div>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Productos</th>

            <th scope="col">Cantidad</th>
            
            <th scope="col">Precio</th>

            
          </tr>
        </thead>
        <tbody>

  
  
        </tbody>
      </table>


      <div class="row text-center">
        <div class="col-sm-6"><a href="">Eliminar producto</a></div>
        <div class="col-sm-6"><p>TOTAL: $0</p></div>
      </div>

      <div class="finalizar text-end ">
        <a class="" href="">Finalizar</a>
      </div>

</div>