<%- include('../views/partials/headerPedido.ejs'); %>

<%- include('./partials/flash.ejs'); %>
<div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-3 mb-3 bd-highlight"><a href="/p/crear-pedido">Crear pedido</a></div>
        <div class="p-3 mb-3 bd-highlight"><a href="">Productos en stock</a></div>
        <div class="p-3 mb-3 bd-highlight"><a href="">Pedidos Realizados</a></div>
        <div class="p-3 mb-3 bd-highlight"><a href="">Clientes</a></div>

    </div>
</div>
<%- include('../partials/footer.ejs'); %>
