<%- include('../views/partials/headerPedido.ejs'); %>

<%- include('./partials/flash.ejs'); %>
<div class="container">
    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"><a href="">Crear pedido</a></div>
        <div class="p-2 bd-highlight"><a href="">Productos en stock</a></div>
        <div class="p-2 bd-highlight"><a href="">Pedidos Realizados</a></div>
        <div class="p-2 bd-highlight"><a href="">Clientes</a></div>

    </div>
</div>