<%- include('../partials/headerPedido.ejs'); %>

<%- include('../partials/flash.ejs'); %>

    <div class="container">
        <a href="/pedidos/pedidos-repartidor">Atras</a>

        <h2>Pedidos realizados</h2>

        <p>Explora los pedidos realizados a los clientes a travez del repartidor : <%= repartidor.username %> </p>
    </div>
<%- include('../partials/footer.ejs'); %>
