<%- include('../views/partials/head.ejs'); %>

<div class="container">

    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="h2 text-center">Hubo un error del cliente. Ve a incio</h2>

            <div class="error  alert alert-danger" role="alert">
                <a class="btn btn-sucess p-3" href="/administrador">Volver al la sesión administrador</a>

                <h3 class="h3">Hubo un error </h3>
                
            </div>
        </div>
    </div>
</div>
  

<%- include('../views/partials/footer.ejs'); %>

