<%- include('../partials/headerAdm.ejs'); %>

  
<div class="container">

  <h3 class="text-center" > Buscar productos dentro del sistema</h3>
  <div class="buscar-producto row justify-content-around"> 
    <div class="col-12 col-lg-6 mb-3">
      <form class="" id="formSearch" >
        <label for="inputBuscar">ESCANEAR CODIGO</label>
        <input  class="" type="number" id="inputBuscar" name="buscar" autofocus  required>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form> 

    <p id="alerP" class="bg-warning border border-danger lead d-none">
      Ingrese nuevamente el codigo
    </p>
  </div>  
    <!-- <div class="col-12 col-lg-6 mb-3">
      <form class="" id="buscarPorCodigoForm" >
        <label  class="" for="inputCodigo">Por Codigo</label>
        <input class=""   type="text" id="inputCodigo" name="buscar"  autofocus required>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form> 
    </div>  -->
   
  </div> 
   
 
   
      <!-- <form class="col-6" id="formSearchCodigo" >
        <label for="buscarcodigo">Introduzca el codigo de barra</label>
        <input  type="number" id="buscarcodigo" name="buscarcodigo"  required>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>  -->


  <h2>Debajo se mostrara el producto si se encontro alguna coincidencia </h2>
 <div class="row">
     <div class="col-10">
      <table class="table">
          <thead>
            <tr>
  
    
              <th scope="col">Nombre</th>
              <th scope="col">Precio Minorista</th>

              <th scope="col">Marca</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Acciones</th>

    
    
            </tr>
          </thead>
          <tbody class="tableBody">
            
           
      
            
               
    
    
    
    
    
          </tbody>
        </table>
     </div>
     <div class="col-4">
          <div class="row">
              <div class="col-12"></div>
              <div class="col-12"></div>
              <div class="col-12"></div>
              <div class="col-12"></div>
          </div>
     </div>
 </div>

  <!-- <form action="">
  
  
      <button type="submit"></button>
  </form> -->
   


  <div id="container-caja-cobro" class="container d-none d-print-none">

  <div class="filaA row mt-4">
    <div class="col-md-8 columI">

      <div class="row">
      <form id="cajaCobroForm" class="d-flex justify-content-around">

        <input class="inputBuscar" id="textBuscar" type="text" placeholder="Buscar producto por código">
        <input id="sbBuscar" type="submit" class="btnBuscar" value="Buscar">				</form>	
      <div class="filaB row">


        <table class="table table-striped mt-4 mb-4">
          <tr>
            <th class="thNombre">Nombre</th>
            <th>Precio unitario</th>
            <th>Marcas</th>
            <th>Cantidad</th>
            <th><b>Subtotal</b></th>
          </tr>

          <tbody id="tablaCajaCobro">


          </tbody>

        

        </table>
        <div class="boxPrecioContainer">
        <div class="boxPrecio"><p id="total">Total: $</p></div>
        </div>
      </div> 
      </div>
        <div class="btnContainer mt-4">
          <div id="imprimirTicketC" class="btnFunc">Imprimir Ticket-C</div>
          <div id="cancelarCompra" class="btnFunc">Cancelar Compra</div>
          <div id="cambiarPrecio" class="btnFunc">Cambiar Precio</div>
          <div id="imprimirTicketA" class="btnFunc">Imprimir Ticket-A</div>
          <div id="eliminarProductos" class="btnFunc">Eliminar Producto</div>
          <div id="agregarProducto" class="btnFunc">Agregar prod. a la lista</div>
        </div>				
    </div>
    <div class="col-md-4 columD">
    <div class="row d-none filaDSup">
      <div class="emptyBtn"></div>
      <div class="emptyBtn"></div>
      <div class="emptyBtn"></div>
      <div class="emptyBtn"></div>
      <div class="emptyBtn"></div>
      </div>

<div class="row filaDInf">
      <p class="subt">Dinero ingresado</p>
      <div class="boxDinero">
        <label>$</label><input id="dineroIngresado" type="number">
      </div>

      <p class="subt">Vuelto</p>

      <div class="boxDinero">
        <p id="vuelto">0.00</p>
      </div>
    </div>

    </div>

      </div>


</div>     
  


   
</div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script  src="/app.js"></script>


  <%- include('../partials/footer.ejs'); %>