
<%- include('../partials/headerPedido.ejs'); %>

<%- include('../partials/flash.ejs'); %>
<div class="container">
   <h2> <%= clienteIndividual.dueño %> </h2>
</div>

<%- include('../partials/footer.ejs'); %>

